// Place all the styles related to the Torrents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#results {
  margin-top: 2rem;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
  }
}

.right.button-group {
  .button {
    margin-bottom: 0;
  }
}

#description {
  padding: 1rem;

  #description_text {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #dddddd;
  }
}
