// Place all the styles related to the Torrents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#results {
  margin-top: 2rem;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
  }
}

.right.button-group {
  .button {
    margin-bottom: 0;
  }
}

#graph {
  margin-bottom: 1em;

  svg {
    padding: 0.5em;
    height: 200px;

    .node {
      circle {
        & + text {
          display: none;
        }
        
        &:hover + text {
          display: block;
        }
      }
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}

#description {
  padding-left: 1rem;

  #description_text {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #dddddd;
  }
}

#filelist {
  ul {
    list-style-type: none;
    font-size: 0.9rem !important;
    border-left: 0.2rem dotted transparent;
    margin-left: 0.9rem;
    margin-bottom: 0;
    
    li {
      span.label {
        float: right;
        display: inline-block;
        width: 5rem;
        height: 1.3rem;
        margin-left: 0.05rem;
      }
    }
  }
}
